@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    background: #f1f1f1;
  }

.card {
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
  }
  
.card1 {
    margin: auto;
    width: 100%;
    background-color: white;
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
  }

.card p, .card1 p{
    font-size: 14px;
    text-align: center;
  }
  
  
.card p, .card h2, .card1 h2{
    text-align: center;
  }
   

input[type=text], input[type=date], select, .check {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

textarea {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
button {
    width: 25%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #4c51af;
    color: white;
    padding: 12px 18px;
    margin: 0px 13px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
button:hover{
    background-color: #45a049;
  }

.button1 {
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #4c75af;
    color: white;
    padding: 10px 16px;
    margin: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

.button2 {
    display: inline-block;
    width: 20%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #3f5c9e;
    color: white;
    padding: 10px 16px;
    margin: 20px 20px 0px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

table{
    border-collapse:collapse;
    font:normal normal 12px;
    color:#333333;
  }
  
table th {
    background:#5b4caf;
    color:white;
    font-size:14px;
    text-align: center;
  }

table td  {
    font-size: 14px;
    text-align: center;
  }
  
table th, table td  {
    vertical-align:center;
    padding:5px 10px;
    border:1px solid #092e8d;
  }
  
table tr {
    background:#F5FFFA;
  }
  
table tr:nth-child(even) {
    background:#F0F8FF;
  }
  